<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="Software Requirement Tool">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/angularCss")

    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/modelling.css" rel="stylesheet" />

</head>
<body ng-app="app" ng-cloak>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/d3")



    @Scripts.Render("~/bundles/softReqToolApp")


    @RenderSection("scripts", required: false)



    <div ng-controller="testCtrl">



        <div class="row">

            @* Modelling Toolbar *@
            <div id="modeling-toolbar" class="col-md-2">
                mod toolbar
            </div>

            @* Modelling Area *@
            <div class="col-md-8" style="">

                <div id="modeling-area">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1500" height="1000">

                        <use-case usecaseview="usecaseview" />

                        <use-case usecaseview="usecaseview2" />
                    </svg>



                </div>

            </div>

            @* Project Tree *@
            <div class="project-tree col-md-2">
                project tree

            </div>

        </div>
    </div>

    <script>




        function createLineCss3(ParentSelector, x1, y1, x2, y2) {
            var length = Math.sqrt((x1 - x2) * (x1 - x2) + (y1 - y2) * (y1 - y2));
            var angle = Math.atan2(y2 - y1, x2 - x1) * 180 / Math.PI;
            var transform = 'rotate(' + angle + 'deg)';

            var line = $('<div>')
                .appendTo(ParentSelector)
                .addClass('line')
                .css({
                    'position': 'absolute',
                    'transform': transform
                })
                .width(length)
                .offset({ left: x1 < x2 ? x1 : x1 - (x1 - x2), top: y1 < y2 ? y1 : y1 - (y1 - y2) });

            return line;
        }

    </script>

</body>
</html>
